{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block content %} 

    <h1>default</h1>
    <h2>default</h2>
    <h3>default</h3>
    <h4>default</h4>
    <h5>default</h5>
    <h6>default</h6>


    <p>This default html page</p>

    <ol>
        <li>default</li>
        <li>default</li>
        <li>default</li>
        <li>default</li>
        <li>default</li>
    </ol>
    <br>
    <br>
    <br>
    <ul>
        <li>default</li>
        <li>default</li>
        <li>default</li>
        <li>default</li>
        <li>default</li>
    </ul>


   <hr>

    <b>This is bold</b>
    <i>This is italic</i>

    <span>span 1</span>    
    <span>span 2</span>

    <div>div 1</div>
    <div>div 2</div>



    <div class="container">
        <div class="row">
          <div class="col-1 card">Column 1</div>
          <div class="col card">Column 2</div>
          <div class="col card">Column 3</div>
        </div>
    </div>

{% endblock %}